In [563]:
import os 
#운영체제(OS : Operating System)를 제어할 수가 있음
#os 모듈의 getcwd()는 현재 작업 디렉터리를 알려줍니다.
#구해라(get)! 무엇을? 현재 작업 디렉터리(current working directory)를
import glob
#glob는 파일들의 리스트를 뽑을 때 사용함
#glob('*.txt')과같이 현재 디렉토리의 txt파일을 보여줌.
#이 함수는 인자로 밭은 패턴과 이름이 일치하는 모든 파일과 디렉토리의 리스트를 반환함
#그냥 별표를 주면 모든 파일을 볼 수 있음.
#현재 경로가 아닌 다른 경로도 조회가 가능함. glob(r'C:\U*')으로 c에서 u로 시작한 파일을 
#보이도록 할 수 있음.
from tqdm.notebook import tqdm
#진행표시바를 표시할 수 있는 기능임.
import pandas as pd
#넘파이 기반의 데이터 분석용 라이브라리
#pandas는 pd라는 별명을 주로 사용함.
import urllib3
#웹과 관련된 데이터를 쉽게 다룰 수 있는 모듈임
import json
#python객체를 json 데이터로 만들어 쓰기 위해 모듈을 설치함.

In [630]:
DATA_PATH = os.getcwd() + r'\target_data'
print(DATA_PATH)
#os.getcwd를 통해서 현재 디렉토리 + r(ead)target_data 폴더를 합쳐서 경로를 설정함.
#그리고 프린트를 통해서 확인하는 과정인 것이지

C:\Users\namho\target_data

In [631]:
files = glob.glob(os.path.join(DATA_PATH,'advanced6.xlsx'))
print(files)
#특정 확장자의 파일만을 가져오기 위해서 glob을 사용함.
#import glob
#import os.path
#myPath = '내가/원하는/디렉토리의/경로'
#myExt = '*.xlsx' 내가 찾고 싶은 확장자

['C:\\Users\\namho\\target_data\\advanced6.xlsx']

In [632]:
all_dfs = []
for source in files:
    temp_df = pd.read_excel(source, engine='openpyxl')
    all_dfs.append(temp_df)
df = pd.concat(all_dfs)

In [633]:
df = df[df['등급'].isin([1,2,3,4,5,6])]
#Pandas isin 구문은 테이블 형식의 데이터를 읽고 처리할 때에 쓰임.
#isin구문은 열이 list 값들을 포함하고 있는 모든 행을 골라낼 때 주로 쓰임
#dataframe의 컬럼에서 어떤 list값을 포함하고 있는 것만 걸러낼 때 유용함.
#그러니까 xlsx.file이 가진 '등급'culumn에서 1~6까지의 수를 가진 것만 추려서
#df 함수에다가 담아놓은 것이지

In [634]:
len(df)
#len함수를 통해서 df함수의 수를 구함

150

In [635]:
df.head()
#맨 상단의 몇 개 head만 보이도록

   학교명  등급                                                 지문
0  경희대   6  나츠미: 어제 조선 시대 화가 신윤복을 다룬 드라마를 봤는데\n좀 이상한 게 있었어...
1  경희대   6  장민: 어제 국립중앙박물관에 갔다 왔는데 정말 신기한 걸 봤어.\n지아: 그게 뭐였...
2  경희대   6  내레이터: 개인이 다양한 콘텐츠를 직접 생산하고 공유하는\n1인 미디어가 폭발적으로...
3  경희대   6  학생 1： 어젯밤에 인터넷에서 봤는데 영화 ‘타이타닉’ 주연 배우 있잖아, 이름이 ...
4  경희대   6  대부분의 나라에서는 시간 약속을 잘 지키는 것을 당연하게 여기지만 모든 나라에서 그...

N급에 해당하는 지문만 골라서 분석하고자 함. 바로 아래 단이 원래 쓰던 것.

In [636]:
#df_beginner = df[df['등급'].isin([1,2])]
#등급 컬럼에서 list값 1, 2를 포함하고 있는 것만 걸러 초급(beginner)변수에 담음
#df_intermediate = df[df['등급'].isin([3,4])]
#등급 컬럼에서 list값 3, 4를 포함하고 있는 것만 걸러 중급(intermediate)변수에 담음
#df_advanced = df[df['등급'].isin([5,6])]
#등급 컬럼에서 list값 5, 6를 포함하고 있는 것만 걸러 고급(advanced)변수에 담음

In [637]:
df_beginner1 = df[df['등급'].isin([1])]
#등급 컬럼에서 list값 1를 포함하고 있는 것만 걸러 1급(beginner1)변수에 담음
df_beginner2 = df[df['등급'].isin([2])]
#등급 컬럼에서 list값 2를 포함하고 있는 것만 걸러 2급(beginner2)변수에 담음
df_intermediate3 = df[df['등급'].isin([3])]
#등급 컬럼에서 list값 3를 포함하고 있는 것만 걸러 3급(intermediate3)변수에 담음
df_intermediate4 = df[df['등급'].isin([4])]
#등급 컬럼에서 list값 4를 포함하고 있는 것만 걸러 4급(intermediate4)변수에 담음
df_advanced5 = df[df['등급'].isin([5])]
#등급 컬럼에서 list값 5를 포함하고 있는 것만 걸러 고급(advanced5)변수에 담음
df_advanced6 = df[df['등급'].isin([6])]
#등급 컬럼에서 list값 6를 포함하고 있는 것만 걸러 고급(advanced6)변수에 담음

In [638]:
#여기부터 이제 NER API를 사용하게 됨.

In [639]:
# 언어 분석 기술 문어/구어 중 한가지만 선택해 사용
# 언어 분석 기술(문어)
#openApiURL = "http://aiopen.etri.re.kr:8000/WiseNLU" 
# 언어 분석 기술(구어)
openApiURL = "http://aiopen.etri.re.kr:8000/WiseNLU_spoken"
accessKey = "204a0e5d-baaa-4144-9c18-d4b44f69e14b"
analysisCode = "ner"

In [640]:
def requestNERfromText(text):
    #요청정보 생성
    requestJson = {
        "access_key": accessKey,
        "argument": {
            "text": text,
            "analysis_code": analysisCode
        }
    }
        
    http = urllib3.PoolManager()
    #API 호출
    response = http.request(
        "POST",
        openApiURL,
        headers={"Content-Type": "application/json; charset=UTF-8"},
        body=json.dumps(requestJson)
    )
        
    #수신 데이터 변환
    if response.status ==  200:
        result = json.loads(response.data)
    else:
        result = None        
    
    return result

In [641]:
def isOCC(tag):
    if tag == 'CV_OCCUPATION':
        return True
    else:
        return False

In [642]:
# 아래 것은 이전에 국가명 뽑을 때 설정한 것인데 내가 임의로 막아놓음 샾만 없애면 됨
#def isCountry(tag):
#    if tag == 'LCP_COUNTRY':
#        return True
#    else:
#        return False

In [643]:
attribute='지문'

담아놓은 변수를 골라서 분석하기

In [644]:

##이것들은 이제 12/34/56급으로 쪼개 놓은 것들
#traversal_df = df_beginner
#traversal_df = df_intermediate
#traversal_df = df_advanced

##이것들은 이제 1/2/3/4/5/6급으로 세분화해서 쪼개놓은 것들
#traversal_df = df_beginner1
#traversal_df = df_beginner2
#traversal_df = df_intermediate3
#traversal_df = df_intermediate4
#traversal_df = df_advanced5
#traversal_df = df_advanced6

#이것은 이제 1~6급까지 전체를 아우른 것
#traversal_df = df

traversal_df = df

In [645]:
#10000 글자 넘는 지문이 있는지 확인 (etri api에서 10000글자까지 허용)
cnt = 0
for cell in traversal_df[attribute]:
    cnt+=1
    if len(cell) > 10000:
        print(cnt+1, len(cell))

In [646]:
etri_results = []

for cell in tqdm(traversal_df[attribute]):
    try:
        ner_info = requestNERfromText(cell)
        etri_results.append(ner_info)
    except:
        print('NER 정보 수집 실패')
        etri_results.append(None) #원본 데이터와 수일치

  0%|          | 0/150 [00:00<?, ?it/s]

In [647]:
len(etri_results) #다 정상적으로 수집된 것을 알 수 있다.

150

In [648]:
import pickle
#복잡한 자료를 파일에 읽고 쓰는 방법임.
#파일을 입맛대로 바꾸는 pickle, glob, os.path가 있음.
#https://wikidocs.net/83

In [649]:
with open('ner_pckl',"wb") as f:
    pickle.dump(etri_results, f)

In [650]:
with open('ner_pckl',"rb") as f:
    loaded_data = pickle.load(f)

In [651]:
len(loaded_data)

150

불용어 설정

In [652]:
#불용어
stop_occupation = ['아르바 이트','초（草','성균','기업','원작자','직장인','플레이어','여자 우두머리','사','음악 치료']
#stop_country = ['항목']

In [653]:
#이건 국가명 식별할 때 남프랑 프가 같아서 그냥 이렇게 지정을 한 것인듯
#최종 국가명에서 쓰이지 않을 불용어 설정인 것 같은데 일단 닫아놓자

#count_replace_rule = {'남프랑스':'프랑스'}
#def exceptional_country_replace(word):
#    return count_replace_rule.get(word, word)

In [654]:
#name 'exceptional_occ_word_replace' is not defined 오류(밑 코드)를 해결함.
#혹시나 해서 위의 국가명 불용어를 직업명 불용어로 바꿔보려고

count_replace_rule = {'남프랑스':'프랑스'}
def exceptional_occ_word_replace(word):
    return count_replace_rule.get(word, word)

#추가할 컬럼을 설정함.
#아래에서 국가명은 닫아놓았음.
이제 직업명만을 대상으로 할 것이므로...

In [655]:
#추가할 컬럼들
occ_columns = [] #직업명
#country_columns = []

for cell in loaded_data:
    ner_list = []
    if cell != None:
        for sent in cell['return_object']['sentence']:
            for item in sent['NE']:
                ner_list.append((item['text'], item['type']))
    
    occ_in_cell = []
#    country_in_cell = []
    
    for word, tag in ner_list:
        if isOCC(tag):
            refined_word = exceptional_occ_word_replace(word)#여기가 문제인 것 같은데,,,word가 대체 뭐지
            if refined_word not in stop_occupation:
                occ_in_cell.append(refined_word)
#        elif isCountry(tag):
#            refined_word = exceptional_country_replace(word)
#            if refined_word not in stop_country: #제외국가 설정
#                country_in_cell.append(refined_word)
    
    occ_in_cell.sort() #정렬
    occ_columns.append(occ_in_cell) 
#    country_in_cell.sort()
#    country_columns.append(country_in_cell)

#아래에서 국가명은 닫아놓았음.

In [656]:
occ_sum = ['/'.join(item) for item in occ_columns]
#country_sum = ['/'.join(item) for item in country_columns]

#아래에서 국가명은 닫아놓았음.

In [657]:
df['직업명'] = occ_sum
#df['국가명'] = country_sum

엑셀파일을 생성
아나콘다에서 열면 UTF-8 오류가 발생하므로 바탕화면에 끌어서 봐야 함.

In [658]:
df.to_excel('result_advanced6_0119.xlsx')

#출현 빈도 확인
#탐색 대상
#초급 df_beginner.index
#중급 df_intermediate.index
#고급 df_advanced.index
#전체 df.index

In [659]:
#여기에선 전체를 확인함.
index_list = df.index
len(index_list)

150

#국가명을 대상으로 상위국가와 빈도를 구함

In [660]:

#country_dic = {} 
#for i in index_list:
#    for item in country_columns[i]:
#        country_dic[item] = country_dic.get(item, 0) + 1

#country_freq = []
#for key, value in country_dic.items():
#    country_freq.append((value, key))
#country_freq.sort(reverse=True)
#print("출현 국가 수: ", len(country_dic))
#print("상위빈도 국가", country_freq)

#위의 코드를 직업명으로 변환함

In [661]:
#직업명으로 변환

occupation_dic = {} #occupation_dic 딕셔너리 변수를 설정함.
for i in index_list:
    for item in occ_columns[i]:
        occupation_dic[item] = occupation_dic.get(item, 0) + 1

occupation_freq = []
for key, value in occupation_dic.items():
    occupation_freq.append((value, key))
occupation_freq.sort(reverse=True)
print("출현 직업명 수: ", len(occupation_dic))
print("상위빈도 직업명", occupation_dic)

출현 직업명 수:  73
상위빈도 직업명 {'화가': 8, '배우': 16, '학생': 172, '화학자': 1, '건축가': 4, '철학자': 2, '기자': 58, '초등학생': 2, '학자': 5, '앵커': 28, '전문가': 44, '가수': 10, '의 사': 1, '대학생': 14, '판사': 1, '교수': 134, '교사': 13, '감독': 14, '작가': 24, '평론가': 1, '소설가': 4, '역사학자': 1, '비평가': 1, '사회심리학자': 1, '발명가': 4, '엔지니어': 1, '큐레이터': 9, '선수': 15, '의사': 6, '전문의': 1, '개발자': 2, '아나운서': 4, '합창대원': 1, '음악평론가': 1, '문화전문가': 1, '기업인': 2, '농민': 5, '선생': 2, '공무원': 4, '상인': 5, '디자이너': 3, '조련사': 1, '변호사': 9, '고등학생': 5, '군인': 1, '연예인': 5, '크리에이터': 16, '회사원': 1, '기 자': 2, '정치인': 1, '여학생': 5, '농부': 5, '시인': 9, '경비원': 1, '전업주부': 2, '리포터': 2, '한글학자': 1, '미술가': 1, '심리학자': 1, '음악인': 1, '작곡가': 10, '중학생': 1, '화백': 4, '컨설턴트': 1, '과학자': 3, '작사가': 1, '방송인': 1, '선교사': 1, '유학자': 1, '운동가': 1, '사회학자': 1, '예술가': 1, '기상학자': 1}

In [662]:
occupation_dic

{'화가': 8,
 '배우': 16,
 '학생': 172,
 '화학자': 1,
 '건축가': 4,
 '철학자': 2,
 '기자': 58,
 '초등학생': 2,
 '학자': 5,
 '앵커': 28,
 '전문가': 44,
 '가수': 10,
 '의 사': 1,
 '대학생': 14,
 '판사': 1,
 '교수': 134,
 '교사': 13,
 '감독': 14,
 '작가': 24,
 '평론가': 1,
 '소설가': 4,
 '역사학자': 1,
 '비평가': 1,
 '사회심리학자': 1,
 '발명가': 4,
 '엔지니어': 1,
 '큐레이터': 9,
 '선수': 15,
 '의사': 6,
 '전문의': 1,
 '개발자': 2,
 '아나운서': 4,
 '합창대원': 1,
 '음악평론가': 1,
 '문화전문가': 1,
 '기업인': 2,
 '농민': 5,
 '선생': 2,
 '공무원': 4,
 '상인': 5,
 '디자이너': 3,
 '조련사': 1,
 '변호사': 9,
 '고등학생': 5,
 '군인': 1,
 '연예인': 5,
 '크리에이터': 16,
 '회사원': 1,
 '기 자': 2,
 '정치인': 1,
 '여학생': 5,
 '농부': 5,
 '시인': 9,
 '경비원': 1,
 '전업주부': 2,
 '리포터': 2,
 '한글학자': 1,
 '미술가': 1,
 '심리학자': 1,
 '음악인': 1,
 '작곡가': 10,
 '중학생': 1,
 '화백': 4,
 '컨설턴트': 1,
 '과학자': 3,
 '작사가': 1,
 '방송인': 1,
 '선교사': 1,
 '유학자': 1,
 '운동가': 1,
 '사회학자': 1,
 '예술가': 1,
 '기상학자': 1}

##코드 종료